<%= render "shared/header" %>
<div class="main1">
  <div class="main2">
    <div class="inner">
      <div class="user__wrapper">
        <h2 class="page-heading">
          <%= @user.nickname %>さんの情報
        </h2>
        <% if @user.followed_by?(current_user) %>
          <%=link_to "フォロー中", user_relationships_path(@user.id),class: "btn" , method: :delete %>
        <% else %>
          <%=link_to "フォローする", user_relationships_path(@user.id),class: "btn" ,method: :post %>
        <% end %>
        <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">名前</th>
              <td class="table__col2"><%= @user.nickname %></td>
            </tr>
            <tr>
              <th class="table__col1">プロフィール</th>
              <td class="table__col2">プロフィール</td>
            </tr>
          </tbody>
        </table>
        <h2 class="page-heading">
          <%= @user.nickname%>さんのプロトタイプ
        </h2>
        <div class="user__card">
          <%= render partial: "childcares/childcare", collection: @user.childcares %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>