<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("mamanavi.png", class: "furima-icon", size: "100x100"), "/" %>
    <%# 追加 %>
    <%= form_with(url: search_childcares_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "input-box" %>
      <button type="submit" class="search-button", onmouseover= "this.style.boxShadow='0 0 10px rgba(0, 0, 0, 0.5)';", onmouseout= "this.style.boxShadow='none';">
        <%= image_tag "search-heart.svg", class: "search-icon" %>
      </button>
    <%end%>
    <%# 追加 %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'イベント', "#event", class: "category-list", style: "color: black;" %></li>
      <li><%= link_to '育児日記', "#child", class: "brand-list", style: "color:black;" %></li>
    </ul>

    
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user.id), class: "dropdown-item" %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
        <li><%= link_to 'チャット', rooms_path, class: "dropdown-item" %></li>
    <% else %>
      <li><%= link_to 'ログイン',new_user_session_path, class: "dropdown-item" %></li>
      <li><%= link_to '新規登録',new_user_registration_path, class: "dropdown-item" %></li>
    <% end %>
    </ul>
</div>
  </div>
</header>

