<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @event.name %><br>

    </h2>
    <div class="item-img-content">
      <%= image_tag @event.image.variant(resize: '500x500'), class: "item-box-img rounded" if @event.image.attached? %>
    </div>
    <% if user_signed_in? %> 
      <% if current_user.id == @event.user_id%> 
      <%= link_to "商品の編集", edit_event_path(@event.id), method: :get, class: "item-red-btn", style: "text-decoration: none; border-radius: 30px; color:white;" %>
      <p class="or-text">or</p>
      <%= link_to "削除", event_path(@event.id), method: :delete, class: "item-destroy", style: "text-decoration: none; border-radius: 30px; color:black;" %>
      <% end %>
    <% end %>
    
    <div class="item-explain-box">
      <span><%= @event.name %></span>
    </div>

  
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @event.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value">
            <%= @event.location%>
          </td>
        </tr>
        <tr>
          <th class="detail-item">日付</th>
          <td class="detail-value">
          <%= @event.datetime.strftime("%Y年%m月%d日 %A") %>
          </td>
        </tr>
        <tr>
          <th class="detail-item">説明</th>
          <td class="detail-value">
          <%= @event.description%>
          
          </td>
        </tr>
        <tr>
          <th class="detail-item">住所</th>
          <td class="detail-value">
          <%= @event.address%>
          
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>

  

  <%#新しく追加%>
  <div class="comment-box">
  <% if user_signed_in? %>
    <%= form_with(model: [@event, @event_comment], id: "comment-form", local: true) do |f| %>
    <%= f.label :content, "コメント" %><br />
    <%= f.text_field :content, id:"comment_text",class:"comment-text" %>
    <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <div class="actions">
      <%= button_tag type: "submit", class: "comment-btn" do %>
      <%= image_tag "comment.png", class: "comment-flag-icon", width: "20", height: "25" %>
      <span>コメントする</span>
    <% end %>
    </div>
    <% end %> 
  <% end %>
  </div>

  <div id="comments" style="background-color:white; border-radius: 50px; padding: 10px 100px 10px 100px;">
    <h4>＜コメント一覧＞</h4>
      <% @event_comments.each do |comment| %>
        <div class="comment" style="display: flex;">
          <p class="user-info"><%= comment.user.nickname %>： </p>
          <p><%= comment.content %></p>
        </div>
    <% end %>
  </div>


  <%# /商品の概要 %>

  <div class="links">
    <a href="#" class="change-item-btn" style="color:#FEC0CA;">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn" style="color:#FEC0CA;">
      後ろの商品 ＞
    </a>
  </div>
  
</div>

<%# 追加 %>
  <script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15, 
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @event.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 400px;
           width: 100%;}
   </style>
   <div id="map"></div>
<%# 追加 %>

<%= render "shared/footer" %>
