<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @event.name %><br>

    </h2>
    <div class="item-img-content">
      <%= image_tag @event.image.variant(resize: '500x500'), class: "item-box-img" if @event.image.attached? %>
    </div>
    <% if user_signed_in? %> 
      <% if current_user.id == @event.user_id%> 
      <%= link_to "商品の編集",edit_event_path(@event.id), method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除",event_path(@event.id) , method: :delete, class:"item-destroy" %>
      <% end %>
    <% end %>
    

    <div class="item-explain-box">
      <span><%= @event.name %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @event.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value">
            <%= @event.location%>
          </td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value">
          <%= @event.datetime%>
          </td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value">
          <%= @event.description%>
          
          </td>
        </tr>
        
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>

  <%#新しく追加%>
  <div class="comment-box">
  <% if user_signed_in? %>
    <%= form_with(model: [@event, @event_comment], local: true) do |f| %>
    <%= f.label :content, "コメント" %><br />
    <%= f.text_field :content, id:"comment_text",class:"comment-text" %>
    <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <div class="actions">
      <%= button_tag type: "submit", class: "comment-btn" do %>
      <%= image_tag "comment.png", class: "comment-flag-icon", width: "20", height: "25" %>
      <span>コメントする</span>
    <% end %>
    </div>
    <% end %> 
  <% end %>
  <ul class="comments_lists">
    <% @event_comments.each do |comment| %>
      <li class="comments_list">
        <%=comment.content %>
        <%= link_to comment.user.nickname, user_path(comment.user), class: :comment_user %>
      </li>
  <% end %>
  </ul>
</div>

  <%# /商品の概要 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  
   <a href="#" class="another-item"><%= @event.name %>をもっと見る</a>
  
</div>

<%# 追加 %>
  <script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15, 
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @event.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 400px;
           width: 100%;}
   </style>
   <div id="map"></div>
<%# 追加 %>

<%= render "shared/footer" %>
