<%= render "shared/header" %>

<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" style="z-index: 1;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_url('735741_m.jpg') %>" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class='service-title'>
      あなたのための
      </h2>
      <h2 class='service-title'>
      ママナビアプリ
      </h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url('26090603_s.jpg') %>" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="<%= asset_url('family02.jpeg') %>" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>



  <%# FURIMAが選ばれる3つの理由部分 %>
  
   

     <%# 追加内容 %>
    <div class='item-contents'>
  <h2 class='title'>イベント一覧</h2>
  <div class="subtitle">
    イベント場所と詳細
  </div>
  <div style="overflow-x: auto; white-space: nowrap;">
    <ul class='item-lists' style="display: inline-block;">
      <% @events.each do |event| %>
        <li class="card" style="width: 18rem; margin: 10px; display: inline-block;">
          <div class='item-img-content'>
            <%= image_tag event.image.variant(resize:'500x500'), class: "item-img card-img-top" if event.image.attached? %>
          </div>
          <div class='item-info card-body'>
            <h5 class='card-title'>
              イベント名<br>
              <%= event.name %>
            </h5>
            <p class="card-text"><%= event.description%></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">日付<br>
              <%= event.datetime %>
            </li>
            <li class="list-group-item">場所<br>
              <%= event.location %>
            </li>
          </ul>
          <%= link_to event_path(event.id), class: "btn", style: "background-color: #FFC6E3; width: 100%;", onmouseover: "this.style.backgroundColor='#FEC0CA';", onmouseout: "this.style.backgroundColor='#FFC6E3';" do %>
            イベント詳細
          <% end %>
        </li>
      <% end %>

      <% if @events.empty? %>
        <li class="card" style="width: 18rem; margin: 10px; display: inline-block;">
          <div class='item-img-content'>
            <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img", style: "width: 286px;" %>
          </div>
          <div class='item-info card-body'>
            <h5 class='card-title'>
              イベント名<br>
              イベントを入力してね！
            </h5>
            <p class="card-text">説明を入力してね！</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">日付<br>
              日付を入力してね！
            </li>
            <li class="list-group-item">場所<br>
              場所を入力してね！
            </li>
          </ul>
          <%= link_to '#', class: "btn", style: "background-color: #FFC6E3;" do %>
            イベント詳細
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

     <%# 追加内容 %>
     <div class='feature-contents'>
     <h2 class='title'>
      ママナビ紹介
    </h2>
    </div>
     <div class='select-reason-contents'>
    <ul class='reason-lists'>
      <li class='list'>
       <%= image_tag "original01.jpeg",class:"list-pict", style: "width: 250px; height: 200px;" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>イベント一覧</span>
          から参加したいイベントに参加しよう
        </h3>
        <p class='reason-list-description'>
          イベント詳細にマップも表示されてるからわかりやすい
        </p>
      </li>
      <li class='list'>
        <%= image_tag "original02.jpeg",class:"list-pict", style: "width: 250px; height: 200px;" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>ママとチャット</span>
          機能もあって便利
        </h3>
        <p class='reason-list-description'>
          連絡先を交換せずにすぐに気になるママに連絡OK！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "original03.webp",class:"list-pict", style: "width: 250px; height: 200px;" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>育児日記</span>
          で子育てをママ共有！
        </h3>
        <p class='reason-list-description'>
          コメントもできるから子育ての楽しさ大変さを共有しよう！
        </p>
      </li>
    </ul>
  </div>
  
  
  
  <%# 育児日記一覧 %>

    <div class="container marketing" style="background-color: white; padding-top:50px;">
    <h2 class="title" style="font-size: 40px; font-weight: bold; text-align: center;">育児日記一覧</h2>
    <div class="subtitle" style="font-size:25px; font-weight: bold ; text-align: center ; color:#FFC6E3; margin-bottom:20px;"  >
      思い出
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row" style="justify-content: center;">
      <% @childcares.each do |childcare| %>
      <div class="col-lg-4">
        <%= image_tag childcare.image, class: "bd-placeholder-img rounded-circle", width: "140", height: "140" %>
        <h2><%= childcare.title %></h2>
        <p><%= childcare.diary %></p>
        <%= link_to childcare_path(childcare.id), class: "btn btn-secondary" do %>
          日記を読む &raquo;
        <% end %>
      </div><!-- /.col-lg-4 -->
      <%end%>
    </div><!-- /.row -->

    <div class="row" style="justify-content: center;">
      <div class="col-lg-4">
      <% if @childcares.empty?%>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "bd-placeholder-img rounded-circle", width: "140", height: "140" %>
        <h2>日記を投稿してね！</h2>
        <p>思い出</p>
        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <%end%>
    </div>
   </div>  
  
<%#　育児日記一覧 %>

<%= link_to(new_childcare_path, class: 'purchase-btn', style: 'text-decoration: none;') do %>
  <span class='purchase-btn-text'>育児日記</span>
  <%= image_tag 'book.svg' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>

<div>
<%= link_to(new_event_path, class: 'purchase-btn-left', style: 'text-decoration: none;') do %>
  <span class='purchase-btn-text-left'>イベント</span>
  <%= image_tag 'shop-window.svg', size: '185x50' ,class: "purchase-btn-icon-left"  %>
<% end %>
</div>

<%= render "shared/footer" %>