<div class="items-sell-contents">
  <header class="items-sell-header" style="border-radius: 50%;">
  <%= link_to image_tag('mamanavi5.png', size: '150x150'), "/" %>
</header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">育児日記</h2>
    <%= form_with model:@childcare, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <%= render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /商品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"タイトル", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          思い出
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :diary, class:"items-text", id:"item-info", placeholder:"育児日記" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn", style:"border-radius: 30px;" %>
      <%=link_to 'もどる', root_path, class:"back-btn", style:"border-radius: 30px; color:white;"%>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer" style="width:60vw;">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ママナビ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('mamanavi3.png', size: '150x150'), "/" %>
    <p class="inc">
      ;©︎&MaMaNaVi,Inc.
    </p>
  </footer>
</div>