<%= render "shared/header" %>
 <div class='item-contents'>
  <h2 class='title'>イベント一覧</h2>
  <div class="subtitle">
    イベント場所と詳細
  </div>
  <div style="overflow-x: auto; white-space: nowrap;">
    <ul class='item-lists' style="display: inline-block;">
      <% @events.each do |event| %>
        <li class="card" style="width: 18rem; margin: 10px; display: inline-block;">
          <div class='item-img-content'>
            <%= image_tag event.image.variant(resize:'500x500'), class: "item-img card-img-top" if event.image.attached? %>
          </div>
          <div class='item-info card-body'>
            <h5 class='card-title'>
              イベント名<br>
              <%= event.name %>
            </h5>
            <p class="card-text"><%= event.description%></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">日付<br>
              <%= event.datetime %>
            </li>
            <li class="list-group-item">場所<br>
              <%= event.location %>
            </li>
          </ul>
          <%= link_to event_path(event.id), class: "btn", style: "background-color: #FFC6E3; width: 100%;", onmouseover: "this.style.boxShadow='0 0 10px rgba(255, 0, 128, 3.3)';", onmouseout: "this.style.boxShadow='none';" do %>
            イベント詳細
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="container marketing" style="background-color: white; padding-top:50px;">
    <h2 class="title" style="font-size: 40px; font-weight: bold; text-align: center;">育児日記一覧</h2>
    <div class="subtitle" style="font-size:25px; font-weight: bold ; text-align: center ; color:#FFC6E3; margin-bottom:20px;"  >
      思い出
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="test" style="overflow-x: auto;">
    <div class="rows" style="inline-block;">
      <% @childcares.each do |childcare| %>
      <div class="col-lg-4" style="margin-top:10px;">
        <%= image_tag childcare.image, class: "bd-placeholder-img rounded-circle", width: "140", height: "140", onmouseover: "this.style.boxShadow='0 0 10px rgba(0, 0, 0, 3.3)';", onmouseout: "this.style.boxShadow='none';" %>
        <h2 class="h2title"><%= childcare.title %></h2>
        <p><%= childcare.diary %></p>
        <%= link_to childcare_path(childcare.id), class: "btn btn-secondary", onmouseover: "this.style.boxShadow='0 0 10px rgba(0, 0, 0, 3.3)';", onmouseout: "this.style.boxShadow='none';"  do %>
          日記を読む &raquo;
        <% end %>
      </div><!-- /.col-lg-4 -->
      <%end%>
    </div><!-- /.row -->
    </div>
   </div>  

   

<%= render "shared/footer" %>