<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @childcare.title %><br>
      <%= link_to "by #{@childcare.user.nickname}", user_path(@childcare.user.id), class: :card__user %>
    </h2>
    <%# 追加 %>
    <div class="tweet">
      <p class = "tweet-text"><%= @childcare.title %></p>
      <div class="tweet-name">
        <%= link_to  "投稿者：#{@childcare.title}", user_path(@childcare.user)%>
      </div>
      <div id="like-btn<%= @childcare.id %>">
        <%= render partial: "childcares/like", locals: {childcare: @childcare } %>
      </div>
    </div>
    <%# 追加 %>
    <div class="item-img-content">
      <%= image_tag @childcare.image.variant(resize: '500x500') ,class:"item-box-img" if @childcare.image.attached?%>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @childcare.diary %>
      </span>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? %> 
      <% if current_user.id == @childcare.user_id %>
      <%= link_to "商品の編集",edit_childcare_path(@childcare.id), method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除",childcare_path(@childcare.id), method: :delete, class:"item-destroy" %>
      <%end%>
    <% end %>

    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= @childcare.title %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @childcare.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">日記</th>
          <td class="detail-value"><%= @childcare.diary %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>


  <%#新しく追加%>
  <div class="comment-box">
  <% if user_signed_in? %>
    <%= form_with(model: [@childcare, @childcare_comment], local: true) do |f| %>
    <%= f.label :content, "コメント" %><br />
    <%= f.text_field :content, id:"comment_text",class:"comment-text" %>
    <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <div class="actions">
      <%= button_tag type: "submit", class: "comment-btn" do %>
      <%= image_tag "comment.png", class: "comment-flag-icon", width: "20", height: "25" %>
      <span>コメントする</span>
    <% end %>
    </div>
    <% end %> 
  <% end %>
</div>
<div> 
  <h4>＜コメント一覧＞</h4>
  <ul class="comments_lists">
    <% @childcare_comments.each do |comment| %>
      <li class="comments_list">
        <%=comment.content %>
        <%= link_to comment.user.nickname, user_path(comment.user), class: :comment_user %>
      </li>
  <% end %>
  </ul>
</div>

  <%# /商品の概要 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="#" class="another-item"><%= "商品のカテゴリー名" %>をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

<%= render "shared/footer" %>
