<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
<h2>育児日記</h2>

  <div class="item-box" style="border-radius: 20px;">
    <h2 class="name" style="font-size: 50px;">
      <%= @childcare.title %>
    </h2>
    <%# 追加 %>
    <div class="tweet">
      <% if user_signed_in? %>
      <div class="tweet-name" style="font-size: 20px; text-align: center;">
        <%= link_to "投稿者：#{current_user.nickname}", user_path(current_user), style: "text-decoration: none; color: black;" %>
      </div>
      <% end %>
    <div id="like-btn<%= @childcare.id %>">
    <%= render partial: "childcares/like", locals: {childcare: @childcare } %>
  </div>
</div>
    <%# 追加 %>
    <div class="item-img-content" style="margin-top: 20px;">
  <% if @childcare.image.attached? %>
    <%= image_tag @childcare.image.variant(resize: '500x500'), class: "item-box-img rounded-circle" %>
  <% end %>
</div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <% if user_signed_in? %> 
      <% if current_user.id == @childcare.user_id %>
     <%= link_to "内容の編集", edit_childcare_path(@childcare.id), method: :get, class: "item-red-btn", style: "border-radius: 30px; text-decoration: none; color:white;" %>
      <p class="or-text">or</p>
      <%= link_to "削除", childcare_path(@childcare.id), method: :delete, class: "item-destroy", style: "border-radius: 30px; text-decoration: none; color:black;" %>
      <%end%>
    <% end %>

    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="item-explain-box">
      <span><%= @childcare.title %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item" >投稿者</th>
          <td class="detail-value"><%= @childcare.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">日記</th>
          <td class="detail-value"><%= @childcare.diary %></td>
        </tr>
      </tbody>
    </table>
  </div>


  <%#新しく追加%>
  <div class="comment-box">
  <% if user_signed_in? %>
    <%= form_with(model: [@childcare, @childcare_comment], id: "comment-form", local: true) do |f| %>
    <%= f.label :content, "コメント" %><br />
    <%= f.text_field :content, id:"comment_text",class:"comment-text" %>
    <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
    <div class="actions">
      <%= button_tag type: "submit", class: "comment-btn" do %>
      <%= image_tag "comment.png", class: "comment-flag-icon", width: "20", height: "25" %>
      <span>コメントする</span>
    <% end %>
    </div>
    <% end %> 
  <% end %>
</div>

<div id="comments" style="background-color:white; border-radius: 50px; padding: 10px 100px 10px 100px;">
  <h4>＜コメント一覧＞</h4>
    <% @childcare_comments.each do |comment| %>
      <div class="comment" style="display: flex;">
        <p class="user-info"><%= comment.user.nickname %>： </p>
        <p><%= comment.content %></p>
      </div>
    <% end %>
</div>

  <%# /商品の概要 %>

  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-item-btn" style="color:#FEC0CA;">
      後ろの投稿 ＞
    </a>
  </div>
</div>

<%= render "shared/footer" %>
